.title {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 1px solid black;
  align-items: center;
  h3 {
    margin: 0;
  }
  .model_name {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
}
